* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body,
button {
	font-family: 'Archivo Black', sans-serif;
}

input {
	color: black;
	border: none;
	width: 100%;
	outline: none;
}

textarea {
	font-family: Arial, Helvetica, sans-serif;
	background-color: transparent;
	outline: 0;
	resize: none;
}

.box {
	padding: 50px;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	z-index: 0;
}

.btn-small {
	width: 100px;
	padding: 2px;
	color: white;
	font-weight: bold;
	z-index: 0;
}

.button-area {
	margin: 8px auto;
	background-color: #9a55a6;
	color: white;
	outline: none;
	border: solid #9a55a6;
	border-radius: 20px;
	padding: 5px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
	font-weight: 600;
	z-index: 0;
}
.or-area {
	font-family: 'Archivo Black', sans-serif;
	color: rgb(142, 142, 142);
	font-size: 13px;
	line-height: 15px;
	margin: 0 18px;
	text-transform: uppercase;
}

.publish-btn {
	border: solid #9a55a6;
	width: 150px;
	border-radius: 20px;
	padding: 5px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
	outline: none;
	font-weight: 600;
	color: white;
	background-color: #9a55a6;
	z-index: 0;
}

.logos-home {
	width: 220px;
	height: 150px;
}

.font-small {
	font-size: 0.8em;
	padding-top: 30px;
}

.google-icon {
	height: 15px;
	width: 15px;
	margin-left: 10px;
}

.post-area-icon-del {
	height: 15px;
	width: 15px;
	margin-left: 5px;
}
.login-area {
	margin-top: 12px;
	padding: 14px 16px;
	width: 330px;
	border: solid #fe4bef;
	border-radius: 6px;
	font-size: 17px;
}

.error-message,
.inerror-message {
	color: #e8504b;
	padding-bottom: 5px;
}

.slogan-desktop,
.display-none {
	display: none;
}

.navbar-page-feed {
	border-bottom: 2px solid #a54991;
	display: flex;
	justify-content: space-between;
	padding: 5px 30px;
	height: 40px;
	margin-bottom: 20px;
}

.share-area {
	padding: 20px;
	margin: 10px 30px;
	border: 1px solid lightgrey;
	border-radius: 3px;
}

.post-area,
.share-area textarea {
	padding: 10px;
	margin: 10px 30px;
	border: 1px solid lightgrey;
	border-radius: 3px;
	outline: 0;
}

.share-area,
.post-area {
	height: fit-content;
}

.circle {
	width: 30px;
	height: 30px;
	border: none;
	border-radius: 15px;
}

.circle:hover {
	opacity: 0.6;
}

.icon-logo {
	margin-top: -15px;
	width: 150px;
}

.icon-circle {
	width: 30px;
	outline: none;
}

.profile-area,
.share-area {
	display: flex;
	align-items: center;
	padding: 15px 30px;
}

.div-send-comment {
	width: 100%;
	text-align: center;
	padding-top: 7px;
}

.name-profile-area {
	text-align: center;
	font-family: Arial;
}

.profile-area-photo-box {
	width: 83px;
}

.photo {
	width: 120px;
	height: 113px;
	border-radius: 89px;
	border: 1px solid black;
	background-color: white;
	outline: none;
}

.photo:hover {
	opacity: 0.5;
	cursor: pointer;
}

.share-area,
.post-area,
.share-area textarea {
	padding: 10px;
	border: 1px solid lightgrey;
	border-radius: 3px;
	outline: 0;
}

.share-area,
.post-area {
	display: flex;
	flex-direction: column;
}

.share-area textarea {
	margin: 0px;
	width: 100%;
	height: 120px;
	margin-bottom: 15px;
	resize: none;
}

.share-area-buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.share-area-img-btn {
	width: 80%;
	padding-top: 0px;
	margin-left: 10px;
	z-index: 0;
}

.post-area {
	padding: 0px;
	margin-top: 15px;
}

.title-post-box,
.post-area-text {
	padding: 5px 10px;
	resize: none;
}

.title-post-box {
	font-size: 0.8em;
	background-color: rgb(203, 239, 250);
	display: flex;
	justify-content: space-between;
}

.title-post-box div:nth-child(2) {
	font-size: 0.7em;
	margin-top: 3px;
}

.post-area-text {
	font-family: Arial, Helvetica, sans-serif;
	height: 60px;
	padding: 10px;
	border: none;
}

.post-area-image {
	width: 70%;
	height: 100%;
	margin: 1% 15%;
}

.post-area-icon {
	height: 20px;
	width: 20px;
	margin-right: 5px;
}

.comment-icon:hover {
	opacity: 0.6;
}

.post-area-icon:hover {
	opacity: 0.6;
}

.delete-btn {
	border: none;
	outline: none;
	background-color: transparent;
	margin-left: 5px;
	height: 20px;
	width: 20px;
	margin-right: 5px;
	z-index: 0;
}

.post-area-icon-del:hover {
	width: 20px;
	height: 20px;
}

.save-btn-area {
	display: flex;
	justify-content: flex-end;
	padding-right: 40px;
	padding-bottom: 7px;
	z-index: 0;
}

.footer-post-box {
	display: flex;
	flex-direction: column;
	padding: 0px;
}

.footer-post-icons-box {
	display: flex;
	padding: 8px 10px;
	border-bottom: 1px solid lightgray;
}

.footer-post-icons-items {
	display: flex;
	margin-right: 15px;
}

.comments-box {
	text-align: left;
	padding: 10px 10px;
}

.comments-box-textarea {
	border-bottom: 1px solid lightgray;
	outline: 0;
	resize: none;
}

#text-comment {
	border: none;
	padding: 10px 5px;
	width: 100%;
}

.send-comment {
	border: solid WHITE;
	width: 100px;
	border-radius: 20px;
	padding: 5px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
	outline: none;
	font-weight: 600;
	color: white;
	background-color: #9a55a6;
	margin-left: 5px;
}

.edit-save-btn {
	border: solid WHITE;
	width: 100px;
	border-radius: 20px;
	padding: 5px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
	outline: none;
	font-weight: 600;
	color: white;
	background-color: #9a55a6;
	margin-left: 5px;
}

.comment-icon {
	height: 20px;
	width: 20px;
	margin-right: 5px;
}

.comments-box-name {
	margin-bottom: 7px;
	color: gray;
	margin-bottom: 10px;
}

.theme-image {
	display: none;
}

.transparency {
	opacity: 0;
}

.display-none {
	display: none;
}

/* SOCIAL PANEL CSS */

.social-panel-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
	transform: translateX(-10px);
}

.social-panel {
	background-color: #fff;
	border-radius: 16px;
	border: 5px solid #fe4bef;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Muli';
	position: relative;
	height: 430px;
	width: 370px;
	max-width: calc(100% - 10px);
	z-index: 999;
}

.social-panel button.close-btn {
	border: 0;
	color: #d312b9;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.social-panel button.close-btn:focus {
	outline: none;
}

.social-panel p {
	background-color: #9a55a6;
	border-radius: 0 0 10px 10px;
	color: white;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 235px;
}

.social-panel p i {
	margin: 0 5px;
}

.social-panel p a {
	color: white;
	text-decoration: none;
}

.social-panel h4 {
	margin: 20px 0;
	color: #9a55a6;
	font-family: 'Muli';
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.social-panel ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-panel ul li {
	margin: 0 10px;
}

.social-panel ul li a {
	border: 1px solid #fff23e;
	border-radius: 50%;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

.social-panel ul li a:hover {
	border-color: #fff23e;
	box-shadow: 0 9px 12px -9px orange;
}

.floating-btn {
	border-radius: 26.5px;
	background-color: #9a55a6;
	border: 1px solid #9a55a6;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #fff23e;
	color: gray;
}

.floating-btn:focus {
	outline: none;
}

.deu-like {
	content: url('img/like.png') !important;
}

.nao-deu-like {
	content: url('img/like2.png') !important;
}
